/* ────────────────────────────────────────────────────────────
 * Omarchy Custom Theme for Waybar
 * ────────────────────────────────────────────────────────────
 */
@define-color background #141414;
@define-color foreground #87ff5f;
